################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Project/.vs/Projetos
/Project/Ligue_4/.vs
